html {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	color: #434040;
}

#root {
	position: relative;
	top: 4rem; /* To offset for fixed header. */
}

@media only screen and (max-width: 760px) {
	.main-content {
		top: 2.5625rem;
	}
}

.click-div {
	/* background-color: white; */
}

.click-div:hover {
	background-color: #E3E3E3;
}

.click-div:active {
	background-color: #b3b3b3;
}


.center {
	text-align: center;
}

.left {
	text-align: left;
}

.image-container {
	overflow: hidden;
}

.video-container video {
	display: block;
}

.back-even {
	background-color: #E3E3E3;
}

.back-odd {
	background-color: white;
}


/* Header */

header {
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 4rem;
	border-bottom: 1px solid #E3E3E3;
	background-color: white;
}

header .desktop {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	height: 100%;
	padding: 0 2rem;
}

header .logo {
	display: flex;
	flex: 1;
	align-items: baseline;
	height: 100%;
}

header .logo img {
	display: inline-block;
	height: 90%;
	transform: translateY(10%);
}

header .logo h1 {
	display: inline;
	transform: translateY(-70%);
	color: #9B9898;
	font-size: 1.5rem;
}

header .logo strong {
	color: #434040;
	font-weight: bold;
}

header .desktop li {
	display: inline;
	margin-left: 1rem;
	color: #9B9898;
	font-size: 1.2rem;
}

header .mobile {
	display: none;
}

@media only screen and (max-width: 735px) {
	header .desktop {
		display: none;
	}

	header .mobile {
		display: block;
		height: 100%;
	}

	header .mobile ul{
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 100%;
	}

	header .mobile li {
		height: 100%;
	}

	header .mobile li img{
		height: 75%;
		transform: translateY(20%);
	}
}


/* Intro */

#intro {
	height: 90%;
	padding: 2rem 3rem;
}

#intro .holder {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%
}

#intro .image-container {
	flex: 0 0 60%;
	height: auto;
}

#intro .image-container img {
	width: 100%;
}

#intro .aside {
	width: 35%;
	padding-left: 4rem;
	font-family: sans-serif;
	line-height: 1.4;
}

.aside h1 {
	padding-bottom: 2.5rem;
	font-size: 4.5rem;
	font-weight: bold;
}

.aside h3 {
	padding-bottom: 2.5rem;
	font-size: 2.5rem;
}

.aside button {
	width: 100%;
	padding: .5rem 0;
	border: none;
	color: white;
	font-size: 2rem;
	background-color: #717171;
	transition: all 200ms ease;
}

.aside button:hover {
	background-color: #434040;
}

.aside button:active {
	background-color: transparent;
	border: 3px solid #434040;
	color: #434040;
}

@media only screen and (max-width: 1300px) {
	#intro {
		padding: 0 0 2rem 0;
	}

	#intro .holder {
		display: block;
	}

	#intro .image-container {
		width: 100%;
		height: auto;
		max-height: 35rem;
	}

	#intro .image-container {
		width: auto;
	}

	#intro .aside {
		width: initial;
		padding: 2rem 1rem;
	}

	.aside h1 {
		font-size: 3rem;
	}

	.aside h3 {
		font-size: 2rem;
	}

	.aside button {
		width: 100%;
		padding: 1rem 0;
		border: none;
	}

	.aside button:hover {
		background-color: inherit;
	}
}

@media only screen and (max-width: 430px) {
	.aside h1 {
		font-size: 2rem;
	}

	.aside h3 {
		font-size: 1.5rem;
	}
}

/* Features */

#features {
	display: flex;
}

#features .main-feature {
	width: 60%;
	border-right: 1px solid #E3E3E3;
	padding: 2rem 1.5rem;
}

.main-feature .image-container img {
	width: 100%;
}

.main-feature h2 {
	padding: 2rem 0 1.5rem;
	font-size: 2.5rem;
	font-weight: bold;
}

.main-feature p {
	padding-bottom: 3rem;
	color: #717171;
	font-size: 1.5rem;
	font-weight: 300;
}

.main-feature a {
	font-weight: 500;
}

#features .side-features {
	display: flex;
	justify-content: center;
	flex-flow: column nowrap;
	width: 40%;
}

.side-features .side-feature {
	display: flex;
	align-items: center;
	padding: 1rem;
	border-bottom: 1px solid #E3E3E3;
}

.side-features .side-feature:last-child {
	border-bottom: none;
}

.side-feature .image-container {
	width: 35%;
}

.side-feature .image-container img {
	width: 100%;
	height: auto;
}

.side-feature .image-container .mobile {
	display: none;
}

.side-feature .content {
	width: 65%;
	margin-left: 1rem;
	font-family: sans-serif;
	line-height: 1.2;
}

.side-feature .content h3 {
	padding-bottom: 1rem;
	font-size: 2rem;
	font-weight: 600;
}

.side-feature .content p {
	padding-bottom: 1rem;
	font-size: 1.3rem;
	color: #717171;
}

.side-feature .content a {
	color: #3B9DF3;
	font-size: 1rem;
}

@media only screen and (max-width: 1000px) {
	#features .main-feature {
		display: none;
	}

	#features .side-features {
		width: 100%;
		padding: 1rem 0 1rem;
		box-sizing: border-box;
	}

	.side-features .side-feature {
		padding: 1rem 2rem 1rem;
		/* margin-bottom: 1rem; */
		display: block;
		border-bottom: none;
	}

	.side-feature .image-container {
		width: 100%;
	}

	.side-feature .image-container .desktop {
		display: none;
	}
	
	.side-feature .image-container .mobile {
		display: block;
	}
	
	.side-feature .content {
		width: 100%;
		padding: 0 1rem;
		box-sizing: border-box;
	}

	.side-feature .content h3 {
		padding: 1rem 0 .5rem;
	}
}

@media only screen and (max-width: 500px) {
	.side-features .side-feature {
		padding: 1rem 1rem 1rem;
	}
}

/* Courses */

#learning {
	height: auto;
	padding: 2rem 5rem;
}

#learning .heading {
	padding: 1rem 0 2rem;
	font-family: sans-serif;
	font-size: 3rem;
	font-weight: bold;
}

#learning .courses {	
	display: flex;
	justify-content: center;
	align-content: flex-start;
	flex-flow: row wrap;
}

.courses .course {
	width: 20rem; 
	height: auto;
	margin: 1rem 1rem;
	background-color: white;;
}

.course .image-container {
	height: auto;
}

.course .content {
	padding: 0 1.5rem 1rem;
	font-family: sans-serif;
	color: #9B9898; 
	line-height: 1.2;
}

.course h3 {
	padding: 1rem 0;
	color: #434040;
	font-size: 2rem;
	font-weight: 600;
}

.course h5 {
	padding-bottom: .5rem;
	font-size: 1.7rem;
	font-weight: 100;
}

.course p {
	font-size: 1.5rem;
	font-weight: 100;
}

@media only screen and (max-width: 865px) {
	#learning {
		padding: 2rem 1rem;
		border-top: 1px solid #E3E3E3;
		border-bottom: 1px solid #E3E3E3;
		background-color: white;
	}

	#learning .heading {
		padding-bottom: 1rem;
	}

	#learning .courses {
		flex-flow: column nowrap;
	}

	.courses .course {
		width: 100%;
		padding: 1.5rem 2rem;
		margin: 0 0 1rem;
		background-color: #E3E3E3;
		border-radius: 5px;
		box-sizing: border-box;
	}

	.course .image-container {
		display: none;
	}

	.course .content {
		padding: 0;
	}

	.course h3 {
		font-size: 2rem;
	}

	.course h5, .course p {
		display: none;
	}

	.courses .course:active {
		background-color: transparent;
		border: 3px solid #E3E3E3;
	}
}

/* Thesis-exhibit */

#thesis-exhibit {
	padding: 3rem 0;	
}

#thesis-exhibit .heading {
	padding-bottom: 2rem;
	font-family: sans-serif;
	font-size: 3rem;
	font-weight: bold;
}

#thesis-exhibit .exhibits {
	display: flex;
}

.exhibits .main-exhibit {
	width: 60%;
	padding: 0 1.5rem;
	border-right: 1px solid #E3E3E3;
}

.main-exhibit video {
	width: 100%;
	height: auto;
}

.main-exhibit .content {
	font-family: sans-serif;
	line-height: 1.2;
}

.main-exhibit h3 {
	padding: 1.5rem 0 1rem;
	font-size: 2.5rem;
	font-weight: 600;
}

.main-exhibit p {
	font-size: 1.5rem;
}

.exhibits .side-exhibits {
	width: 40%;
	display: flex;
	flex-flow: column nowrap;
}

.side-exhibits .side-exhibit {
	padding: 1rem;
	border-bottom: 1px solid #E3E3E3;
	display: flex;
	align-items: center;
}

.side-exhibit .image-container {
	width: 35%;
	/* height: auto; */
}

.side-exhibit .image-container img {
	width: 100%;
}

.side-exhibit .content {
	width: 50%;
	padding-left: 1rem;
	font-family: sans-serif;
}

.side-exhibit h3 {
	padding-bottom: 1rem;
	font-size: 2rem;
	font-weight: 600;
}

.side-exhibit p {
	color: #9B9898;
	font-size: 1.3rem;
}

@media only screen and (max-width: 1000px) {
	#thesis-exhibit h2 {
		font-size: 2.5rem;
	}
	
	.exhibits .main-exhibit {
		width: 100%;
	}

	.main-exhibit h3 {
		font-size: 2rem;
	}
	
	.main-exhibit p {
		font-size: 1.2rem;
	}

	.exhibits .side-exhibits {
		display: none;
	}
}


/* Footer */

.footer-border {
	width: 99%;
	height: 1px;
	margin: 0 auto;
	background-color: #E3E3E3;
}

footer {
	padding: 1.2rem 1.5rem 3rem;
	display: flex;
	align-items: flex-start;
}

footer .copyright {
	flex: 1;
	color: #717171;
}

footer a {
	padding-left: .3rem;
	color: #717171;
}

@media only screen and (max-width: 600px) {
	.footer-border {
		display: none;
	}

	footer {
		padding: 1rem .5rem 1rem;
	}

	footer .contracts {
		margin-left: .5rem;
	}
}