html {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}

.main-content {
	position: relative;
	top: 5.3125rem; /* To offset for fixed header. */
}

@media only screen and (max-width: 760px) {
	.main-content {
		top: 2.5625rem;
	}
}

.center {
	text-align: center;
}

.image-container {
	overflow: hidden;
}

.image-container img {
	display: block;
}

/* Header */

header {
	position: fixed;
	width: 100%;
	border-bottom: solid 1px #c6c1c1;
	background-color: white;
	z-index: 10;
}

header .content {
	display: flex;
	align-items: center;
	padding: 1.875rem;
}

header .logo {
	flex: 1;
	font-family: "Roboto", sans-serif;
	color: #4a4a4a;
	font-size: 1.5rem
}

header nav ul {
	display: flex;
}

nav li {
	padding-left: 3.5rem;
}

nav a {
	vertical-align: bottom;
	line-height: 1.6;
	font-size: 1rem;
	color: #4a4a4a;
}

header .icon {
	width: 1rem;
	padding-left: 0.75rem;
}

header .mobile {
	display: none;
}

@media only screen and (max-width: 760px) {
	header .desktop {
		display: none;
	}

	header .mobile {
		display: block;
		width: 100%;
	}

	header .content {
		padding: 0.5rem 0;
	}

	header .mobile ul {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
	}

	header .mobile li {
		padding: 0;
	}

	header .mobile .button {
		padding: 0.1875rem 0.5rem;
		background-color: #9dc20b;
		line-height: 1.6;
		color: white;
	}
}

/* Sign Up */
#sign-up-section {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 43.5rem;
	background: url(../images/banner-landingpage.jpg);
	background-size: cover;
}

#sign-up-cta {
	margin-left: 8rem;
	border-radius: 4px;
	background-color: #9dc20b;
}

#sign-up-cta .content {
	width: 25.625rem;
	margin: 2rem 5rem 3.5rem;
	font-family: "Roboto", sans-serif;
	font-size: 1.25rem;
	line-height: 1.4;
	color: white;
}

#sign-up-cta h1 {
	font-size: 3.125rem;
}

#sign-up-cta h2 {
	font-size: 2.25rem;
}

#sign-up-cta .cursive {
	font-family: "Damion", cursive;
}

#sign-up-cta .striking {
	font-family: "Rubik", sans-serif;
}

#sing-up-cta strong {
	font-weight: bold;
}

#sign-up-cta .button {
	padding: 1.25rem 7.25rem;
	margin-top: 1.625rem;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	color: white;
	border-radius: 4px;
	background-color: #4a4a4a;
}

@media only screen and (max-width: 760px) {
	#sign-up-section {
		justify-content: center;
		height: 27rem;
		background-position: right;
	}

	#sign-up-cta {
		margin: 0 auto;
		background-color: transparent;
    }
    
    #sign-up-cta .content {
        margin: 0;
    }

	#sign-up-cta .email {
		display: none;
	}

	#sign-up-cta .button {
		display: none;
	}
}

@media only screen and (max-width: 490px) {
	#sign-up-section {
		justify-content: center;
		height: 20rem;
		right: 15rem;
		background-position: right;
	}

	#sign-up-cta .content {
        width: auto;
    }

    #sign-up-cta h1 {
        font-size: 2.1875rem;
    }
    
    #sign-up-cta h2 {
        font-size: 1.575rem;
    }
}


/* Feature */

#features-section {
	/* height: 39.6875‬rem; */
	display: flex;
	justify-content: space-around;
	padding: 4rem 5%;
	background-color: #f3f3f3;
}

#features-section .feature {
	flex: 1;
	/* height: 13.6875rem; */
	padding: 2rem 2rem 0;
	margin: 0px 1.25rem;
	background-color: white;
}

.feature img {
	width: 100%;
	height: 65%;
	margin: 0 auto;
}

.feature .content {
	width: 70%;
	height: 11.6875rem;
	margin: 2.5rem auto 0;
	font-family: "Roboto", sans-serif;
	color: #4a4a4a;
	line-height: 1.2;
}

.feature h2 {
	padding-bottom: .5rem;
	font-size: 2.25rem;
	font-weight: bold;
}

.feature h3 {
	font-size: 1rem;
	font-weight: 300;
}

@media only screen and (max-width: 1200px) {
	#features-section {
		padding: 1.5rem 2%;
	}
	
	#features-section .feature {
		padding: 1rem 1rem 0;
		margin: 0 .5rem;
	}

	.feature .content {
		width: 100%;
		height: 11rem;
		margin: 1.5rem auto 0;
	}

	.feature h2 {
		font-size: 1.75rem;
	}
}

@media only screen and (max-width: 580px) {
	#features-section {
		flex-direction: column;
		padding: 0;
		margin: 0;
	}

	#features-section .feature {
		padding: 1rem 1rem 2.25rem;
		margin: 0;
	}

	#features-section .feature:first-child {
		background-color: #f3f3f3;
	}

	.feature .content {
		height: initial;
		margin: 1.5rem auto 0;
	}

	.feature h2 {
		font-size: 1.125rem;
		font-weight: 400;
	}
	
	.feature h3 {
		font-size: .875rem;
		font-weight: 300;
	}
}

/* Filter */

#filters-section {
	background-color: #4a4a4a;
	padding: 4rem 1%;
}

#filters-section .content {
	font-family: "Roboto", sans-serif;
	color: white;
	padding-bottom: 4rem;
}

#filters-section h2 {
	padding-bottom: .5rem;
	font-size: 2.25rem;
	font-weight: bold;
}

#filters-section h3 {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.4;
}

#filters-section .images-container {
	display: flex;
	justify-content: space-evenly;
}

.images-container .image-container {
	width: 25%;
}

.images-container img {
	width: 100%;
}

@media only screen and (max-width: 1400px) {
	#filters-section {
		padding-bottom: 1rem;
	}
}

@media only screen and (max-width: 760px) {
	#filters-section {
		padding: 3rem 0 0;
	}

	#filters-section .content {
		padding: 0 .2rem 3rem;
	}
}

@media only screen and (max-width: 550px) {
	#filters-section {
		padding: 0;
	}
	
	#filters-section .content {
		padding: 2rem .2rem;
	}

	#filters-section h2 {
		font-size: 1.5rem;
		font-weight: 500;
	}

	.images-container .image-container {
		width: calc(100% / 3);
	}

	.images-container .image-container:last-child {
		display: none;
	}
}

/* Quotes */

#quotes-section {
	padding: 5rem 0;
	background-color: #f3f3f3;
}

#quotes-section .content {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	/* flex-wrap: wrap; */
}

#quotes-section .quote {
	max-width: 80%;
	margin-right: 1.875rem;
	font-family: "Palatino";
	color: #4a4a4a;
	text-align: start;
	font-size: 1.875rem;
	font-style: italic;
	line-height: 1.1;
}

#quotes-section .quote-citation {
	max-width: 100%;
	height: 100%
}

@media only screen and (max-width: 1100px) {
	#quotes-section {
		padding: 3rem .5rem;
		align-items: baseline;
	}

	#quotes-section .quote {
		flex-shrink: 1;
		padding-left: .5rem;
		text-align: center;
	}

	#quotes-section .quote-citation {
		max-width: 100%;
	}
}

@media only screen and (max-width: 490px) {
	#quotes-section {
		padding: 1rem 0;
	}

	#quotes-section .content {
		align-items: center;
		flex-flow: column wrap;
	}

	#quotes-section .quote {
		padding: 0;
		margin: 0 auto .5rem;
		max-width: 20rem;
		text-align: center;
		font-size: 1.5rem;
		line-height: 1.4;
	}

	#quotes-section .quote-citation {
		max-width: 100%;
	}
}

/* Footer */

footer {
	background-color: #9b9b9b;
	padding: 1.5rem 2rem;
}

footer .content {
	display: flex;
	width: 100%;
	font-size: 0.75rem;
	color: white;
}

footer .copyright {
	flex: 1;
}

@media only screen and (max-width: 490px) {
	footer {
		padding: 1rem .8rem;
	}
	footer .content {
		font-size: 0.625rem;
	}
}